@import "tailwindcss";

:root {
  --custom-black: #0a0a0a;
  --custom-gray: #222222;
  --neon: #1dcd9f;
  --custom-green: #169976;
}

@theme inline {
  --color-custom-black: var(--custom-black);
  --color-custom-gray: var(--custom-gray);
  --color-neon: var(--neon);
  --color-custom-green: var(--custom-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --custom-black: #18230f;
    --custom-gray: #ededed;
    --neon: #255f38;
    --
  }
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--custom-black);
}
